<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ver Clases</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Clases Registradas</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Botón para ir a la página de Registrar Clase -->
  <ion-button expand="full" color="primary" routerLink="/registrar-clase">
    Registrar Clase
  </ion-button>

  <!-- Mostrar las clases registradas en una lista -->
  <ion-list>
    <!-- Iteramos sobre las clases y las mostramos -->
    <ion-item *ngFor="let clase of clases">
      <ion-label>
        <h2>{{ clase.nombreClase }}</h2>
        <p>Sección: {{ clase.seccion }}</p>
        <p>ID: {{ clase.id }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
