

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Recuperar contraseña</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Log In</strong><br><br><br>
    <ion-card>
      <img alt="Duoc" src="https://seeklogo.com/images/D/duoc-uc-logo-F1437952BE-seeklogo.com.png" />
      <ion-card-header>
        <ion-card-title>Datos de usuario</ion-card-title>
      </ion-card-header>
    
      <ion-item>
        <ion-input [(ngModel)]="user.username" label="Usuario" placeholder="Ingrese nombre de usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{mensaje}}</ion-label>
      </ion-item>
    </ion-card>
    

    <ion-card>  
    <div *ngIf="spinner">
      <ion-item id="carga">
        <ion-label>Cargando</ion-label>
      </ion-item>
      <ion-item id="carga">
        <mat-spinner></mat-spinner>
      </ion-item>
      
    </div>
  </ion-card>
    <ion-button shape="round" color="tertiary" (click)="validar()">Recuperar Contraseña</ion-button>
  </div>
 
</ion-content>
