
  <ion-header>
    <ion-toolbar class="toolbar-centered">
      <ion-buttons slot="start" class="back-button-container">
        <ion-back-button defaultHref="/login"></ion-back-button>
      </ion-buttons>
      <ion-title class="title-centered">RegisApp</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
  <div id="container"><br><br><br>
    <strong>Registro</strong><br><br>
    <ion-card>
      <img alt="Duoc" src="https://seeklogo.com/images/D/duoc-uc-logo-F1437952BE-seeklogo.com.png" />
      <ion-card-header>
        <ion-card-title>Datos de usuario</ion-card-title>
      </ion-card-header>
    
      <!-- Campo de Usuario -->
      <ion-item>
        <ion-label position="stacked">Usuario</ion-label>
        <ion-input [(ngModel)]="user.username" placeholder="Ingrese nombre de usuario"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input [(ngModel)]="user.password" type="password" placeholder="Ingrese su contraseña"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input [(ngModel)]="user.email" type="email" placeholder="Ingrese su email"></ion-input>
      </ion-item>
      

    </ion-card>
  
    <!-- Botones -->
    <ion-button expand="full" shape="round" color="tertiary" (click)="registrar()">Registrarse</ion-button>
    <ion-button expand="full" shape="round" color="tertiary" [routerLink]="['/login']">Log In</ion-button>
  </div>
</ion-content>

